

.topContainer{
    display: flex;
    justify-content: center;
}


.bar{
    background-color: #89DDff;
    margin: 1%;
    font-size: x-large;
}

.bubbleContainer{
    display: flex;
    height: 50%;
    position: relative;
    z-index: 1;
}

.leftDisplay{
    display: flex;
    width: 100%;
}

.rightDisplay{
    width: 25%;
}

.newArray{
    display: flex;
    color: #89DDff;
    font-size:xx-large;
    width: 100%;
    justify-content: center;
}


.row{
    display: flex;
    justify-content: center;
    width: 100%;
}


.text{
    font-size: 1.7em;
    color: red;
    margin: 0;
    margin-bottom: 1em;
}

.textTwo{
    font-size: large;
    color: blue;
    margin: 0;
    margin-bottom: 1em;
}


.bottomText{
    font-size: large;
    color: greenyellow;
    margin: 0;
}

.bottomTextTwo{
    font-size:large;
    color: orange;
    margin: 0;
}