
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.selected{
    display: none;
}

.background{
    z-index: 0;
    opacity: 40%;
}

pre{
    width: fit-content;
    padding: 20px;
}

/*******************SLIDER******************/

.css-187mznn-MuiSlider-root{
    height: 20px;
    padding-top: 0;
}

.css-eg0mwd-MuiSlider-thumb{
    background-color: white;
}

.slider-title{
    margin: 0;
    color: #89DDff;
}

.css-ofrcno-MuiGrid-root>.MuiGrid-item{
    color: #89DDff;
}

/*******************Navbar******************/

.css-h4y409-MuiList-root{
    padding-bottom: 90px;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: #89DDff;
    height: fit-content;
}


/*******************Button**********************/

.css-11qr2p8-MuiButtonBase-root-MuiButton-root{
    border-radius: 30px;
    background-color: #89DDff;
    color: black;
    margin-left: 3px;
    margin-right: 3px;
}


