@import url('https://fonts.googleapis.com/css2?family=Work Sans');

.header{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
    border: 2px solid;
    border-color: #fcdf71;
    font-family: "Work Sans", bold ;
    color: #0098d3;
    width: 100%;
    height: 150px
}