.greeting{
    color: #fcdf71;
    line-height: 1.5em;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
   
    position: relative;
    z-index: 1;
}

.indexContainer{
    position: relative;
   
}

.background{
    z-index: 0;
    height: 50px;
}