

.navBar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 60px;
    position: relative;
}

.links{
    text-decoration: none;
    color:#89DDff;
    font-size: xx-large;
    font-family:'Playfair Display', serif;
}

