

.navBar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    background-color: #0098d3;
    width: 100%;
    height: 60px;
}

.links{
    text-decoration: none;
    color:#fcdf71;
    font-size: xx-large;
    font-family:'Playfair Display', serif;
}

