

.navBar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    background-color: black;
    height: 60px;
    border: 5px solid #89DDff;
}

.links{
    text-decoration: none;
    color:#89DDff;
    font-size: xx-large;
    font-family:'Playfair Display', serif;
}

